*{
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
}

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: pink;
  border-radius: 50%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.swiper {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;

}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.listed-items{
list-style-type: none;
}

.content{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.item-list{
  margin: 20px 20px;
  padding: 20px 40px;
  background-color: gray;
  border-radius: 10px;
}

.howareu{
  text-align: center;
  margin-top: 10px;
}

#id1{
  position: relative;
  transition: all .6s ease-in-out;
}
#id3{
  position: relative;
  transition: all .6s ease-in-out;
}
#id4{
  position: relative;
  transition: all .6s ease-in-out;
}

.form{
  text-align: center;
}
.login-btn{
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.auth{
  margin-top: 50px;
}

.btnn{
  border: 2px black;
}

.label{
  margin-right: 5px;
}
.gap{
  margin-top: 10px;
}